/* font-family: 'Lato', sans-serif; 300
font-family: 'Open Sans', sans-serif;  500 */

:root {
    --main-color: rgb(65, 191, 231);
    --second-color: rgb(175, 197, 255);
    --box-shadow: 0 5px 10px rgba(186, 232, 232, 0.3);
  }

  .navbar-brand, .navbar-brand:hover {
    color: var(--main-color);
  }

  .nav-link:hover {
  color: var(--main-color);
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;  
  }
  
  h1 {
    font-size: 4rem;
    padding: 0 20px;
  }

  h2 {
    font-size: 3rem;
    padding: 0 20px;
  }

  .heading {
    font-size: 4rem;
    padding: 0 20px;
  }

  .hero {
    padding: 10px 10px;
    background-color:rgba(248, 249, 250, 0.8);
  }
  
  .hero h3 {
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    padding: 0 20px;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .apps > div {
  margin-top: 48px;
  }

  .about-paragraphs p {
    background: var(--second-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
  }
  
  .about-paragraphs p::-moz-selection, br::-moz-selection {
    color: var(--main-color);
    background: white;
  }
  .about-paragraphs p::selection, br::selection {
    color: var(--main-color);
    background: white;
  }

  .about-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  .about-links a, .btn {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    transition: all 300 ease-in-out;
  }

  .about-links__contact-link, .btn {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    box-shadow: var(--box-shadow);
  }

  .about-links__contact-link:hover, .btn:hover {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    box-shadow: var(--box-shadow);
    filter: contrast(125%);
  }

  .about-links__about-link {
    color: var(--main-color);
    border: 1px solid var(--second-color);
  } 
  
  .about-links__about-link:hover {
    color: var(--main-color);
    border: 1px solid var(--second-color);
    filter: contrast(125%);
  } 

  p {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
  }

  .homepage-link {
    color: var(--main-color);
    text-align: center;
    display: block;
  }

  .homepage-link:visited {
    color: var(--second-color);
    text-align: center;
    display: block;
  }

  i:hover {
    color: var(--main-color);
  }

  .icons a {
    margin: 0 15px;
    padding: 12px;
    background-color: rgba(248, 249, 250, 0.8);
    border-radius: 50%;
    transition: all 200ms ease-in-out;
  }

  .hero-about {
    padding: 0 50px;
  }

  .hero-description {
    border-right: 1px solid rgba(76, 76, 76, 0.1);
  }
  
  .hero-description h2, .hero-description h3, .hero-description p {
    text-align: right;
  }

  .undefined-project {
  cursor: help;
  }

  .fancy {
    display: block;
    margin: 0 auto;
    
  }

  .works-image {
    box-shadow: var(--box-shadow);
  }

  .scale {
    overflow: hidden;
   }
   .scale img {
    transition: 1s;
   }
   .scale img:hover {
    transform: scale(1.05);
   }

   .arrow {
    width: 25px;
  }

  .get-in-touch .row {
   background-color: rgba(248, 249, 250, 0.8);
  margin: 10px 140px;
  }

  .get-in-touch .row h3 {
    margin-top: 20px;
    text-align: left;
    line-height: 1.5;
  }

  .wrapper-contact {
    padding: 10px 10px;
    background-color:rgba(248, 249, 250, 0.8);
    height: 300px;
  }

  .wrapper-contact__paragraph {
    text-align: center;
    line-height: 2;
  }
  
  .contact-elements__element {
    text-align: center;
    height: 180px;
    margin: -60px 0 0;
    padding: 45px 0 0 0;
    line-height: 3;
    background-color: white;
    box-shadow: var(--box-shadow);
  }


  @media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  div.col-sm-6.rounded.bg-light h2 {
    font-size: 1.8rem;
    text-align: center!important;
  }

  .heading {
    font-size: 3rem;
  }

  .about-links {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  .about-links a {
    margin: 10px;
  }
    
  .btn {
  display: block;
  }

  .hero-description {
    border-right: none;
  }
  
  .hero-description h2, .hero-description h3, .hero-description p {
    text-align: center;
  }

  .hero-description h2 {
    font-size: 2.2rem;
  }

  .image-hero {
    display: block;
    margin: 0 auto;
  }
  
  .get-in-touch .row {
    margin: 0;
   }

  .get-in-touch .row h3, .get-in-touch .row p {
    text-align: center;
  }

}

@media (max-width: 992px) {

  .get-in-touch .row {
    margin: 0;
   }

   .get-in-touch .row h3, .get-in-touch .row p {
    text-align: center;
  }

  .get-in-touch .btn {
    display: block;
    margin: 0 auto;
  }
  }


/* Animation on About page*/

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(186, 232, 232, 0.7);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(186, 232, 232, 0.5);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(186, 232, 232, 0.7);
      transform: translatey(0px);
    }
  }
  
  .container-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-avatar__avatar {
    width: 330px;
    height: 330px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(186, 232, 232, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .container-avatar__avatar img {
    max-width: 100%;
  }
