/* font-family: 'Lato', sans-serif; 300
font-family: 'Open Sans', sans-serif;  500 */


:root {
    --main-color: rgb(65, 191, 231);
    --second-color: rgb(175, 197, 255);
    --box-shadow: 0 5px 10px rgba(186, 232, 232, 0.3);
  }

  .wrapper {
    padding: 10px 0;
    background-color:rgb(248, 249, 250, 0.8);
  }

  .nav-link:hover {
  color: var(--main-color);
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;  
  }
  
  h1 {
    font-size: 4rem;
    padding: 0 20px;
  }

  .about-heading {
    font-size: 6rem;
    padding: 0 20px;
  }
  
  h2 {
    font-size: 3rem;
    padding: 0 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    padding: 0 20px;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .apps > div {
  margin-top: 48px;
  }

  .about-paragraphs p {
    background: var(--second-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
  }
  
  .about-paragraphs p::-moz-selection, br::-moz-selection {
    color: var(--main-color);
    background: white;
  }
  .about-paragraphs p::selection, br::selection {
    color: var(--main-color);
    background: white;
  }

  .about-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  .about-links a, .btn {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    transition: all 300 ease-in-out;
  }

  .about-links .contact-link, .btn {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    box-shadow: var(--box-shadow);
  }

  .about-links .contact-link:hover, .btn:hover {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    box-shadow: var(--box-shadow);
    filter: contrast(125%);
  }

  .about-links .about-link {
    color: var(--main-color);
    border: 1px solid var(--second-color);
  } 
  
  .about-links .about-link:hover {
    color: var(--main-color);
    border: 1px solid var(--second-color);
    filter: contrast(125%);
  } 

  p {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
  }

  .homepage-link {
    color: var(--main-color);
    text-align: center;
    display: block;
  }

  .homepage-link:visited {
    color: var(--second-color);
    text-align: center;
    display: block;
  }
  
  .contact-email-link {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 1.75rem;
    text-decoration: none;
    line-height: 2;
  }
  
  .contact-email-link:hover {
    text-decoration: underline;
  }

  .undefined-project {
  cursor: help;
  }

  .fancy {
    display: block;
    margin: 0 auto;
    
  }

  .scale {
    overflow: hidden;
   }
   .scale img {
    transition: 1s;
   }
   .scale img:hover {
    transform: scale(1.05);
   }

   .arrow {
    width: 50px;
  }

  @media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  div.col-sm-6.rounded.bg-light h2 {
    font-size: 1.8rem;
    text-align: center!important;
  }

  .about-heading {
    font-size: 3rem;
  }

  .about-links {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  .about-links a {
    margin: 10px;
  }
    
  .btn {
  display: block;
  }
  }

